<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- include all user -->
<div class="container" id="main">
    <div class="main-box">
        <div class="adduser">
            <a href="/add_user"><span class="user">Add User <i class="fa-solid fa-user-plus"></i></span></a>
        </div>
        <form action="/" method="POST">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>SN no</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Adderess</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_show') %>                        
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<!-- /all user -->



<!-- include header -->
<%- include('include/_footer') %>
<!-- /include header -->

