    <!-- form -->

    <div class="form-title">
        <h2>Fill the form to add user</h2>
    </div>
    <div class="form">
        <div class="all-user">
        <span><a href="/"> All User</a></span>
        </div>

        <form action="/api/user" method="POST" id="add_user">
            <div id="name" class="form-class">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </div>
            <div id="email" class="form-class">            
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div id="adderess" class="form-class">
                <label for="adderess">Adderess</label>
                <input type="text" name="adderess" id="adderess">
            </div>
            <div id="gender" class="form-class">
                <label for="gender">Gender</label>
                <div class="radio">
                    <input type="radio" name="gender" id="radio-2" value="Male">
                    <label for="radio-2" class="radio-label">Male</label>
                </div>
                <div class="radio">
                    <input type="radio" name="gender" id="radio-3" value="Female">
                    <label for="radio-3" class="radio-label">Female</label>
                </div>
            </div>
            <div id="status" class="form-class">
                <label for="status">status</label>
                <div class="radio">
                    <input type="radio" name="status" id="radio-4" value="Active">
                    <label for="radio-4" class="radio-label">Active</label>
                </div>
                <div class="radio">
                    <input type="radio" name="status" id="radio-5" value="Inactive">
                    <label for="radio-5" class="radio-label">Inactive</label>
                </div>
            </div>
            <div id="submit">
                <button type="submit" class="form-class" id="btn">Save</button>
            </div>
        
        </form>
    </div>



    <!-- /form -->